
    /* NOTES On styling;
    Be 120 pixels in height
    Be the full width of the viewport.
    Have #4056A1 as its default background colour.
    Have #FFFFF as its default font colour
    The <span> within the <nav> has Bungee as it's default font-family
    The inner content should not be touching the viewport edge on any side and should remain 1.5ems away from all edges */



nav {
   font-family: Bungee;
   background-color: #4056A1;
   height: 120px;
   width: 100%;
   /* added this; */
   position: fixed;
   top: 0;
   left: 0;
   z-index: 9999;
   width: 100%;
   /* upto here  */
   justify-content: space-around;
   align-items: center;
   /* border: 3px solid green; */
   padding: 0 20px;
 }
 .nav-bar{
   display: flex;
   justify-content: space-between;/*horizontal*/
   align-items: center;/*vertical*/
   height: 100%;
 }
 nav div {
   /* width: 100%; */
   color: #FFFFFF;
   /* border: 3px solid orange; */
 }
 nav p {
   color: white;
 }